<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.plugins.sshslaves.verifiers.MissingVerificationStrategyAdministrativeMonitor</string>
    <string>hudson.security.DangerousMatrixPermissionsAdministrativeMonitor</string>
    <string>org.sonatype.nexus.ci.nvs.NvsMessageAdministrativeMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.176.3</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>java-8-oracle</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers/>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>openjdk-11</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.ZipExtractionInstaller>
              <url>https://download.java.net/java/GA/jdk11/9/GPL/openjdk-11.0.2_linux-x64_bin.tar.gz</url>
              <subdir>openjdk-11</subdir>
            </hudson.tools.ZipExtractionInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <com.google.jenkins.plugins.computeengine.ComputeEngineCloud plugin="google-compute-engine@3.4.0">
      <name>gce-gce</name>
      <instanceCap>8</instanceCap>
      <projectId>edo-dev-ds-datalake</projectId>
      <credentialsId>edo-dev-ds-datalake</credentialsId>
      <instanceId>38878ece-6718-4aaa-8da1-56cfbfd97e9a</instanceId>
      <configurations>
        <com.google.jenkins.plugins.computeengine.InstanceConfiguration>
          <description>ETL</description>
          <namePrefix>edo-ds-etl-jenkins</namePrefix>
          <region>Error retrieving regions</region>
          <zone>Error retrieving zones</zone>
          <machineType></machineType>
          <numExecutorsStr>1</numExecutorsStr>
          <startupScript>usermod -a -G docker jenkins</startupScript>
          <preemptible>false</preemptible>
          <minCpuPlatform></minCpuPlatform>
          <labels>etl</labels>
          <runAsUser>jenkins</runAsUser>
          <bootDiskType></bootDiskType>
          <bootDiskAutoDelete>true</bootDiskAutoDelete>
          <bootDiskSourceImageName>Error retrieving images for project</bootDiskSourceImageName>
          <bootDiskSourceImageProject>edo-dev-ds-datalake</bootDiskSourceImageProject>
          <networkConfiguration class="com.google.jenkins.plugins.computeengine.AutofilledNetworkConfiguration">
            <network></network>
            <subnetwork></subnetwork>
          </networkConfiguration>
          <externalAddress>true</externalAddress>
          <useInternalAddress>false</useInternalAddress>
          <networkTags></networkTags>
          <serviceAccountEmail>jenkins@edo-dev-ds-datalake.iam.gserviceaccount.com</serviceAccountEmail>
          <mode>NORMAL</mode>
          <retentionTimeMinutesStr>6</retentionTimeMinutesStr>
          <launchTimeoutSecondsStr>300</launchTimeoutSecondsStr>
          <bootDiskSizeGbStr>15</bootDiskSizeGbStr>
          <oneShot>false</oneShot>
          <template>Error retrieving instanceTemplates</template>
          <createSnapshot>false</createSnapshot>
          <remoteFs></remoteFs>
          <javaExecPath>java</javaExecPath>
          <googleLabels>
            <entry>
              <string>jenkins_cloud_id</string>
              <string>38878ece-6718-4aaa-8da1-56cfbfd97e9a</string>
            </entry>
            <entry>
              <string>jenkins_config_name</string>
              <string>edo-ds-etl-jenkins</string>
            </entry>
          </googleLabels>
          <numExecutors>1</numExecutors>
          <retentionTimeMinutes>6</retentionTimeMinutes>
          <launchTimeoutSeconds>300</launchTimeoutSeconds>
          <bootDiskSizeGb>15</bootDiskSizeGb>
        </com.google.jenkins.plugins.computeengine.InstanceConfiguration>
      </configurations>
    </com.google.jenkins.plugins.computeengine.ComputeEngineCloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Dashboard</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>test-release</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>View 2</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>jenkins-daily-backup</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
      <statusFilter>true</statusFilter>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Tracking System ETL Release</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>edo-ds-datalake-etl-tracking-system-ci</string>
        <string>edo-ds-datalake-etl-tracking-system-ci-qa</string>
        <string>edo-ds-datalake-etl-tracking-system-form-process-prod</string>
        <string>edo-ds-datalake-etl-tracking-system-form-process-qa</string>
        <string>edo-ds-datalake-etl-tracking-system-prod-airflow-status</string>
        <string>edo-ds-datalake-ts-monitoring</string>
        <string>edo-ds-datalake-ts-monitoring-qa</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>QA</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>edo-ds-datalake-etl-crm-flight-postbooking-ci</string>
        <string>edo-ds-datalake-etl-crm-mail-activity-ci</string>
        <string>edo-ds-datalake-etl-path-generator-ci</string>
        <string>edo-ds-datalake-etl-rategain-ci</string>
        <string>edo-ds-datalake-etl-rategain-custom-scrapper-ci</string>
        <string>edo-ds-datalake-etl-scv-ip-crm-postbooking-ci</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>PRD</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[4]/jobNames/comparator"/>
        <string>edo-ds-datalake-etl-crm-flight-postbooking-ci-prod</string>
        <string>edo-ds-datalake-etl-crm-mail-activity-ci-prod</string>
        <string>edo-ds-datalake-etl-path-generator-ci-prod</string>
        <string>edo-ds-datalake-etl-rategain-ci-prod</string>
        <string>edo-ds-datalake-etl-rategain-custom-scrapper-ci-prod</string>
        <string>edo-ds-datalake-etl-scv-ip-crm-postbooking-ci-prod</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>SEM Kenshoo ETL Release</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[4]/jobNames/comparator"/>
        <string>edo-ds-datalake-etl-sem-kenshoo-conversion-ci-prod</string>
        <string>edo-ds-datalake-etl-sem-kenshoo-conversion-ci-qa</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Skyscanner ETL Release</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[4]/jobNames/comparator"/>
        <string>edo-ds-datalake-etl-skyscanner-ci</string>
        <string>edo-ds-datalake-etl-skyscanner-ci-prod</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>crm-customer-origin ETL</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[4]/jobNames/comparator"/>
        <string>edo-ds-datalake-etl-crm-customer-origin-ci</string>
        <string>edo-ds-datalake-etl-crm-customer-origin-ci-prod</string>
        <string>edo-ds-datalake-etl-crm-sftp-to-bq-ci</string>
        <string>edo-ds-datalake-etl-crm-sftp-to-bq-ci-prod</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>edo-ds-datalake-files-transform</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>edo-ds-datalake-files-transform</string>
        <string>edo-ds-datalake-files-transform-ci</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>edo-ds-datalake-dags</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[9]/jobNames/comparator"/>
        <string>edo-ds-datalake-dags</string>
        <string>edo-ds-datalake-dags-ci-prod</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <hudson.model.MyView>
      <owner class="hudson" reference="../../.."/>
      <name>test</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.MyView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>5</int>
          <string>COMPOSER_NAME_DEV</string>
          <string>ds-datascience-dev-c172-a1102-20190625</string>
          <string>COMPOSER_NAME_PROD</string>
          <string>ds-datascience-c172-a1102-20190618</string>
          <string>COMPOSER_NAME_QA</string>
          <string>ds-datascience-qa-c172-a1102-20190722</string>
          <string>DOCKER_IMAGE_BASE</string>
          <string>gcloud-sdk-image-base:0.0.1</string>
          <string>SBT_CREDENTIALS</string>
          <string>/var/lib/jenkins/.sbt/.credentials</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>